/* Обнуление */
*,*:before,*::after{
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
html,body{
   height: 100%;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.container {
  
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 10px
}
.container__content {
  
   max-width: 1110px;
   margin: 0 auto;
   padding: 0 10px
}
.header {
   /* Фиксируем шапку, чтоб при скролле она всегда была видна сверху */
   position: sticky;
   top: -145px;
   width: 100%;
   left: 0;
   z-index: 50;
   
}

/* Плашка 
   Меню должно отрываться под плашкой*/
   .header:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      z-index: 2;
   }


/* Вытащить наверх контентную часть шапки */
.header__body {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 80px;
   align-items: center;
}
.header__logo {
   max-width: 340px;
   align-self: start;
   z-index: 3;
   margin:0 0 20px 0;
}
.header__logo img{
   max-width: 100%;
   /* Если есть подрезание у картинки */
   display: block;
  
}
.header__burger {
   /* Скрываем меню для всех расширений что выше 767px */

}
.header__menu {
   background-color: #212529;
   width: 100%;
   height: 100%;
   line-height: 52px;
}


.header__list {
   display: flex;
   
   position: relative;
   z-index: 2;
}
.header__list li{
   list-style: none;
   padding: 0 20px;
}

.header__list li:hover{
   background-color: #a7c520;
}
.orange{
   background-color: #a7c520;
}

.header__link {
   color: #fff;
   font-size: 20px;
   text-decoration: none;
}

@media(max-width:917px){
   .header__link {
      font-size: 18px;
   }
}

@media(max-width:843px){
   .header__link {
      font-size: 16px;
   }

   .header__list li{
      padding: 0 15px;
      list-style: none;
   }
}




/* Работаем с бургером */
@media(max-width:767px){
   body.lock{
       /* Под меню бургером скролится контент это не хорошо */
      overflow: hidden;
   }
   .header{
      position: sticky;
      top: 0;
      background: #fff;
   }
   .header__body {
      flex-direction: row;
      height: 50px;
   }
   .header__logo {
      flex: 0 140px;
   }
   .header__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;

   }
   .header__burger span{
      position: absolute;
      background-color: #212529;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
   }
   .header__burger::before,
   .header__burger::after{
      content: '';
      background-color: #212529;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: 0.3s ease 0s;
   }
   .header__burger::before{
      top: 0;
   }

   .header__burger::after{
      bottom: 0;
   }

   .header.active{
      background-color: #212529;

      
   }

   .header__burger.active::before{
      background-color: #fff;
      transform: rotate(45deg);
      top: 9px;
   }
   .header__burger.active::after{
      background-color: #fff;
      transform: rotate(-45deg);
      bottom: 9px;
   }

   .header__burger.active span{
      background-color: #fff;
      transform: scale(0);
   }
   

   .header__menu{
      position: fixed;
      /* Чтоб меню сверху съезжало */
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #212529;
      padding: 70px 10px 20px 10px;
      transition: 0.3s ease 0s;
      /* Если будет много пунктов и они не влезут в экран, то надо чтоб к ним был доступ */
      /* Теперь можно его проскролить */
      overflow: auto;

   }

   /* При на нажатии на бургер мы добавляем класс active 
    */
    .header__menu.active{
      transition: 0.3s ease 0s;
      top: 0;
    }

   .header__list{
      display: block;
   }

   .header__list li{
      margin: 0 0 20px 0;
   }
   .header__link{
      font-size: 24px;
   }

}
.content {
   padding: 232.77px 0 0 0; 
 }
 .content__text {
    font-size: 16px;
    line-height: 20px;
 }
 
 .content__text p{
    margin: 0 0 20px 0;
 }

 @media(max-width: 767px){
   
   .content {
      padding: 70px 0 0 0 ;
   }
 }

